@tailwind base;
@tailwind components;
@tailwind utilities;

/* IMPORT PLAYFAIR FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* IMPORT MONTSERRAT FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.page-nav {

    .logo svg {
        @apply lg:w-32 lg:h-32;
    }

    &.is-sticky {
        position: fixed;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        animation: slideDown 0.35s ease-out;
        background: rgba(0,0,0,.2);
        .logo svg {
            @apply w-14 h-14 text-white;
        }

        @keyframes slideDown {
            from {
              transform: translateY(-100%);
            }
            to {
              transform: translateY(0);
            }
        }

    }
}
